@use '../abstracts' as *;

#clouds {
    position: absolute;

    .cloud {
        position: absolute;
        min-width: 20%;
        height: 30%;

        transform: translate(0, 0);

        @for $i from 1 through 12 {
            @if $i % 2 == 0 {
                &:nth-child(#{$i}) {
                    top: #{$i * (-1) * 8}px;
                }
            } @else {
                &:nth-child(#{$i}) {
                    top: #{$i * 5}px;
                }
            }

            &:nth-child(#{$i}) {
                left: #{($i + 10 * 8%)};
                z-index: #{$i};
            }
        }

        transition: transform 0.25s ease-out;
    }
}