@use '../abstracts' as *;

#section_3 {
    background: $clr-pine;

    .section_bg {
        opacity: 0.9;

        transform: translate(0, 0);

        transition: transform 250ms ease;
    }

    .block {
        position: absolute;
        min-width: 10%;
        height: 20%;

        pointer-events: none;

        transition: top 2s ease;
    }
}