@use '../abstracts' as *;

#section_3 {
    background: $clr-pine;

    .sign {
        position: absolute;
        top: 0;
        left: 2rem;
        color: $clr-yellow;
        letter-spacing: 5px;
        font-weight: 600;
        font-family: $ff-title;
        font-size: 3.5rem;
        z-index: 2;

        text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .section_bg {
        opacity: 0.9;

        transform: translate(0, 0);

        transition: transform 250ms ease;
    }

    .block {
        position: absolute;
        min-width: 10%;
        height: 20%;

        pointer-events: none;

        transition: top 2s ease;
    }
}