@use '../abstracts' as *;

#section_2 {
    background: $clr-yellow;

    cursor: none;

    .cursor {
        position: absolute;

        color: $clr-opal;
        letter-spacing: 5px;
        font-weight: 600;
        font-family: $ff-title;
        font-size: 2.5rem;
        z-index: 2;

        text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    img {
        opacity: 0.6;
    }
}