main {
    position: relative;
    display: grid;
    width: 600%;
    height: 100%;

    grid-auto-flow: column;

    background: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}