#character {
    display: grid;

    grid-template-rows: repeat(2, 1fr);

    place-items: center;

    h1 {
        position: absolute;
        margin-top: -25%;

        transition: opacity 250ms ease-out;

        cursor: url(../assets/cursor.png) 48 48, auto;
        z-index: 2;
    }

    img {
        width: 10%;
        bottom: 0;

        transition: opacity 50ms ease-in;

        z-index: 2;
    }
}