#character {
    display: grid;

    grid-template-rows: repeat(2, 1fr);

    place-items: center;

    z-index: 1111;

    h1 {
        position: absolute;
        top: 0;

        transition: opacity 250ms ease-out;
    }

    img {
        width: 10%;
        bottom: 0;

        transition: opacity 50ms ease-in;
    }
}