@use '../abstracts' as *;

#clouds {
    position: absolute;

    .cloud {
        position: relative;

        transform: translate(0, 0);

        @for $i from 0 through 8 {
            @if $i % 2 == 0 {
                &:nth-child(#{$i}) {
                    top: #{$i * (-1) * 5}px;
                }
            } @else {
                &:nth-child(#{$i}) {
                    top: #{$i * 8}px;
                }
            }

            &:nth-child(#{$i}) {
                left: #{((($i % 9) + 1) * 100% / 10.5) - 15};
                z-index: #{$i};
            }
        }

        transition: transform 0.25s ease-out;

        img {
            width: 25%;
        }
    }
}