.sections {
    display: grid;
    min-width: 100%;

    place-items: center;
    transition: transform 0.25s ease-out;

    img {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
    }
}